{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="regemp container mt-5">

        <div class="row justify-content">

            <h2 class="mb-4">Employee Registration</h2>

            <div class="empform col-md-8">
                <form method="post">
                    {% csrf_token %}

                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}

                    <buttton class="btn-success btn mt-3" type="submit">Register Employee</buttton>
                </form>
            </div>
        </div>
 
    </div>

{% endblock %}